/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/bin
/vendor/composer
/vendor/doctrine
/vendor/incenteev
/vendor/jdorn
/vendor/monolog
/vendor/paragonie
/vendor/psr
/vendor/sensio
/vendor/kms
/vendor/sensiolabs
/vendor/swiftmailer
/vendor/symfony
/vendor/autoload.php
/vendor/twig/twig/.travis.yml
/vendor/twig/twig/.editorconfig
/vendor/twig/twig/composer.json
/vendor/twig/twig/LICENSE
/vendor/twig/twig/README.rst
/vendor/twig/twig/ext
/vendor/twig/extensions
/vendor/twig/twig/lib/Twig/*

!/vendor/twig/twig/lib/Twig/Environment.php

/web/bundles/
.idea/