{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 card-panel navy-grey darken-5 z-depth-5">
                <div class="col s12  center-align card-panel grey lighten-4 padding2">

                    <div class="row top-margin card-panel accent-4 navy-grey-text text-darken-1">
                        {% if status == 1 %}
                            <p class="left-align  col s12 flow-text">An email with your password has been sent to you.</p>
                        {% else %}
                            <p class="left-align  col s12 flow-text">Sorry, username or email not found.</p>
                        {% endif %}
                        <p class="left-align  col s12 flow-text"><a href="{{ path('login') }}">Go back to the login page.</a> </p>
                    </div>

                </div>
            </div>

        </div>
    </div>

{%  endblock %}
