{% extends 'base.html.twig' %}


{% block body %}

    <div class="container col s12 valign">
        <div class="card-panel padding2 navy-grey darken-3 opacity_95">
            <h2 class="center-align white-text">Congratulations!</h2>
            <p class="flow-text top-margin2 center-align grey-text darken-2">You have now created a user!</p>
            <p class="flow-text top-margin2 top-buffer white-text darken-2"> Please go to your mail to check if you recieved an
                activation link and click it to log in and start using our site.
            </p>

            <p class="right-align"><a href="{{ path('resend_email') }}" class="waves-effect waves-light btn white navy-grey-text"><i class="material-icons right">send</i>Re-send email</a></p>
        </div>
    </div>

{%  endblock %}
