{% block subject %}

    <h1>{{  'Welcome to KING PONG, '  ~ user.getUsername() }}</h1>

{% endblock %}

{% block body_html %}
    <br>
    <br>
    <p> In order to active your account click on the following link: <a href="{{ url }}">{{ url }}</a></p>
    
{% endblock %}