{% block subject %}

    Password Recovery

{% endblock %}

{% block body_html %}

    <h5> {{  "Dear " ~ user.getUsername() }}, </h5>
    <br>
    <br>
    <p> It seems like you forgot your password, here it is: <b>{{ user.getPlainPassword }}</b></p>
    <br>
    <p> Yours sincerelly,</p>
    <p> The King Pong Team</p>
    
{% endblock %}