{# foto xaxi#}

<img class="be-background-ma-friend" src="{{ asset('images/btsRJjc.jpg') }}" alt="Unsplashed background img 1">


<div class="container grey darken-4 opacity_90 padding2 top-margin3 bot-buffer fill_viewport clear">

    <div class="row valign-wrapper top-margin2 bot-buffer2">
        <div class="col s6 valign center">
            <img class="col s9 offset-s2"  src="{{ asset('images/404.png') }}" alt="A 404 sad pal">
        </div>
        <div class="col s6 valign white-text right-margin2">
            <h2> <span class="red-text">C</span>o<span class="red-text">n</span>g<span class="red-text">r</span>a<span class="red-text">t</span>u<span class="red-text">l</span>a<span class="red-text">t</span>i<span class="red-text">o</span>n<span class="red-text">s</span>! </h2>
            <h4> You found <span class="red-text">W</span>a<span class="red-text">l</span>l<span class="red-text">y</span>. </h4>
            <p>If you were not looking for him you may have tipped the wrong URL or clicked on an expired link.
                Go to our <a href="{{ path('homepage') }}">homepage</a> and you will find what you were looking for.
            </p>
        </div>
    </div>

</div>

